@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Whisper&display=swap');

:root{
    --light-grey-color: #eeeeee;
}

html,body{
    margin: 0;
}

*{
    box-sizing: border-box;
}

main{
    background-color: var(--light-grey-color);
}

main .nav-bar{
    box-shadow: 1px 1px 5px 1px lightgray;
    background-color: white;
}

main .nav-bar .nav-container{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    font-family: 'Caveat',cursive;
}

main .nav-bar .nav-container .company-name{
    font-size: 3rem;
}

main .nav-bar .nav-container .login-button{
    background-color: var(--light-grey-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 200ms;
}

main .nav-bar .nav-container .login-button:hover{
    background-color: darkgray;
    color: white;
}

main .nav-bar .nav-container *{
    list-style: none;
}

main .library-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 10px;
}

main .library-section .add-book{
    font-family: 'Caveat',cursive;
    margin: 0;
    font-size: 1.5rem;
    transition: all 200ms;
    cursor: pointer;
}

main .library-section .add-book:hover{
    transform: scale(1.1);
}

.modal{
    background-color: rgba(100, 100, 100, 0.9);
    justify-content: center;
    align-items: center;
    font-family: 'Caveat',cursive;
    display: none;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: fade-in 500ms forwards;
}

.modal .modal-content .modal-title{
    margin: 0;
}

.modal .modal-content{
    display: flex;
    flex-direction: column;
    background-color: var(--light-grey-color);
    width: max(30%,250px);
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 0;
}

.modal .modal-content input:not(.read){
    width: 70%;
    height: 30px;
    font-family: 'Caveat',cursive;
    font-size: 1.2rem;
}

.modal .modal-content .submit-button{
    width: 30%;
    border: none;
    background-color: lightgreen;
    padding: 10px 0;
    border-radius: 10px;
    transition: all 300ms;
}

.modal .modal-content .submit-button:hover{
    transform: scale(1.1);
    background: green;
    color: white;
}

.modal .modal-content input[type="text"]:focus:invalid,.modal .modal-content input[type="number"]:focus:invalid,
.modal .modal-content input[type="number"]:focus:out-of-range{
    outline-color: red;
}

.modal .modal-content input[type="text"]:focus:valid,.modal-content input[type="number"]:focus:valid{
    outline-color: lightgreen;
}

main .library-section .books{
    width: 100%;
    font-family: 'Caveat',cursive;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
    padding: 20px;
    background-color: var(--light-grey-color);
}

main .library-section .books .book{
    background-color: white;
    width: 100%;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

main .library-section .books .book p{
    margin: 0;
    font-size: 1.3rem;
}

main .library-section .books .book button:first-of-type{
    border: none;
    color: white;
    padding: 5px;
}

main .library-section .books .book button{
    width: 30%;
    cursor: pointer;
}

.invalid-input{
    outline: none;
    border: 2px solid red;
    border-radius: 5px;
}

@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}